import { Injectable } from '@angular/core';

@Injectable()
export class AdalConfigService {
  public get adalConfig(): any {
    return {
      tenant: 'xxxxxx.onmicrosoft.com', // Enpoints -> OAuth 2.0 Authorization Endpoint: https://login.windows.net/{tenant}/oauth2
      clientId: '00000000-0000-0000-0000-000000000000', // Application ID
      redirectUri: window.location.origin + '/auth-callback',
      postLogoutRedirectUri: window.location.origin + '/auth-callback'
    };
  }
}
